<div class="container mb-5 mt-5">
    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Angular App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">À Propos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <ng-container *ngIf="isLoggedIn">
                        <li class="nav-item">
                            <form class="d-flex">
                                <button class="btn btn-outline-info" type="button" (click)="logout()">Logout</button>
                            </form>
                        </li>
                    </ng-container>      
                    <ng-container *ngIf="!isLoggedIn && !isLoginPage()">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login">Login</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="!isLoggedIn && !isRegisterPage()">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/register">Register</a>
                        </li>
                    </ng-container>                                
                </ul>                  
            </div>
        </div>
    </nav>
  
    <!-- Page content -->
    <div class="container mt-4">
        <!-- Page content here -->
        <router-outlet></router-outlet>
    </div>
  
    <!-- Footer -->
    <footer class="footer bg-light mt-4">
        <div class="container text-center">
            <span class="text-muted">© 2024 Mon Application. Tous droits réservés.</span>
        </div>
    </footer>
    
</div>



